html, body {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial Black;
}
header {
  color: white;
  width:100%;
  height: 2.5em;
  background-color: #009999;
  opacity: 1;
  font-size: 4em;
  text-align: center;
  vertical-align: middle;
  position: fixed;
  z-index: 10;
}
h2 {
  color: #ff7b16;
  position: fixed;
  top: 4em;
  left: 40%;
  z-index:11;
  font-family: Impact;
  letter-spacing: .4em
}
.qo, .qe {
  position: relative;
  top: 2em;
  color: white;
  font-size: 7em;
}
.qo {
  margin-right: 30%;
  background-color: #39dbdb;
  text-align: right;
  color: white;
  padding-right: 1em;
}
.qe {
  margin-left: 30%;
  background-color: #ff7b16;
  padding-left: 2em;
}
.iname {
  font-style: italic;
}
.img {
  position: relative;
  top: 12em;
  left: 40%;
}
.routines {
  font-style: italic;
}
.footer {
  position: relative;
  top: 4em;
  width: 100%;
  background-color: #ff7b16;
  color: black;
  text-align: center;
  font-size: 4em;
  font-family: Impact;
  text-transform: uppercase;
  margin-bottom: 3em

}
